.recommendations-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recommendations-container h2 {
  background: linear-gradient(
    90deg,
    rgba(0, 24, 241, 1) 0%,
    rgba(169, 64, 132, 1) 56%,
    rgba(28, 19, 178, 1) 100%
  );
  color: white;
  margin-bottom: 10px;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: xx-large;
  width: 22rem;
  text-align: center;
  margin-bottom: 20px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: center; /* Center images horizontally */
  gap: 20px; /* Space between images */
  padding: 20px;
}

.image-item {
  width: 25rem; /* Set fixed width for each image */
}

.image-item img {
  width: 100%; /* Image takes full width of the item */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.image-item img:hover {
  transform: scale(1.05);
}
